body{
  background-image: radial-gradient(lightblue, black);
  width:100vw;
  height:100vh;
  margin:0px;
  font-family: 'Josefin Sans', sans-serif;
}

div,section{
  box-sizing: border-box;
}

.flip-container{
  position:relative;
  perspective: 2000px;
  width:100%;
  height:100%;
}

#cube{
  position: relative;
  transform-style: preserve-3d;
  transform-origin: center center -50vh;

  width:90%;
  height:100%;
  margin: 0 auto;
}

#cube > section{
  display:block;
  position:absolute;
  border: 2px solid black;
  backface-visibility: hidden;
  width:100%;
  height:100%;
  /*margin: auto;*/
}

#cube .upper-section{
  transform: translateZ(0vh) rotateX(0deg);
  background-color: black;
  /*transform: translateZ();*/
  width:100%;
  height:100%;

  border:3px solid black;

  position:absolute;
  background-position: 50% 70%;
  background-size:cover;
  background-repeat: no-repeat;
  background-image: url("./images/fairyland-canyon.jpg");

}

#cube .lower-section{
  transform: translateZ(-50vh) translateY(50vh) rotateX(-90deg);
  width: 100%;
  height: 100%;
  background-image: url('./images/SLC.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  border: 3px solid lightblue;

}

.rotate{
  transform: rotateX(90deg);
}

#head-links{
  width: 100%;
  height:5%;
  display:flex;
  color: white;
  justify-content: space-around;
  font:15px;
  margin: 0 auto;
}

.links{
  width: 20%;
  text-align: center;
  font-size:1.3em;
  padding: 1%;
}

.more-info{
  cursor:pointer;
}

.upper-section a:hover, .upper-section a:visited, .upper-section a:link, .upper-section a:active{
  text-decoration: none;
  color:white;
}

.upper-section .hexagon-text a:hover, .upper-section .hexagon-text a:visited, .upper-section .hexagon-text a:link, .upper-section .hexagon-text a:active{
  text-decoration: none;
  color:black;
}

.upper-section a:hover, .upper-section .hexagon-text a:hover{
  color: #61CBE0;
  font-size:1.5em;
}

.lower-section a:hover, .lower-section a:visited, .lower-section a:link, .lower-section a:active{
  text-decoration: none;
  color:black;
}

.lower-section a:hover{
  color: #61CBE0;
}


.flipped {
  transform: rotateY( 540deg );
}

.row1{
  width:100%;
  height:33.33%;
  margin-left: 16.65%;
}

.row2{
  width:100%;
  height:33.33%;
  margin-top: -7.5%;
}
.row3{
  width:100%;
  height:33.33%;
  margin-left: 16.65%;
  margin-top: -7.5%;
}

.hexgrid{
  width:68%;
  height:93%;
  max-height:1050px;
  max-width:790px;
  margin: 5% auto 0 auto;
}

.hex-section{
  width:100%;
  height:90%;
}

.intro-header{
  margin:0;
  font-size: 20px;
}

.intro-text{
  margin: 12% 5% 0 5%;
  color:white;
  text-align: center;
  width:90%;
  position: absolute;
}

.hexagon-text{
  margin: 25% 5% 0 5%;
  color:black;
  text-align: center;
  width:90%;
  position: absolute;
  opacity:1;
}


#down-link{
  position:absolute;
  bottom:1%;
  width:100%;
  height:4%;
  color:white;
  text-align:center;
  background-color: transparent;
  cursor:pointer;
}

header{
  width:100%;
  height:5%;
  text-align: center;
  background-color: transparent;
}

#up-link{
  color:black;
  cursor:pointer;
}

.left-column{
  width:45%;
  height:90%;
  float:left;
  margin:2%;
  position: relative;
}

.right-column{
  width:45%;
  float:left;
  height:90%;
  margin:2%;
}

#skills-box{
  width:80%;
  margin: 0 10% 0 10%;
  border-top: 2px solid black;
  position:relative;
}

#skills-box img{
  padding:2%;
}

.left-column h1{
  width:80%;
  margin: 2% auto;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
 }

.logo-row{
  width:100%;
  height:120px;
  display:flex;
  justify-content: center;
  align-items: center;
  position:relative;
}

.logo-row-secondary{
  width:100%;
  height:80px;
  display:flex;
  justify-content: left;
  align-items: center;
  position:relative;
}

.logos-1{
  left:-180%;
}
.logos-2{
  left:-140%;
}
.logos-3{
  left:-100%;
}

@keyframes growshrink {
  0% {font-size:2em;}
  50% {font-size:2.5em;}
  100% {font-size:2em;}
}

.fa-chevron-up, .fa-chevron-down{
  animation-name: growshrink;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes growshrinkResume {
  0% {font-size:4.8em;}
  50% {font-size:5em;}
  100% {font-size:4.8em;}
}

.fa-file{
  animation-name: growshrinkResume;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.right-column-lower{
  width:100%;
  height:30%;
  position: relative;
  margin-top:10%;
}

#resume-link{
  width:40%;
  float:right;
  text-align: center;
  margin:1%;
}

.right-column-upper{
  width:100%;
  height:60%;
  line-height: 200%;
  font-size: 1.25rem;
}

.icon-links{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:20%;
  height:100%;
  margin-left:40%;
}

#pic{
  height:100%;
  width:40%;
  background-image:url("./images/me.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  position:absolute;
  right: -500px;
  bottom:0;
}

#email{
  position:absolute;
  font-size: 26px;
  bottom:0;
  right:0;
  color:lightblue;
  margin: 0;
}
